<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Destination:</b>
  <%= @event.destination %>
</p>

<p>
  <b>Arrival time:</b>
  <%= @event.arrival_time %>
</p>

<h3>Current guests</h3>
<table id="invitees">
  <%= render @invitations %>
</table>


<% if can? :update, @event %>
  <h3>Add a guest</h3>
  <%= render 'invitations/form' %>

  <%= link_to 'Send email to all invitees', send_emails_event_invitations_path(@event.id) %><br />
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'All events', events_path %>
<% end %>
