<h1>Listing invitations</h1>

<table>
  <tr>
    <th>Invitee name</th>
    <th>Invitee email</th>
    <th>Invitee phone</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.user.username %></td>
    <td><%= invitation.user.email %></td>
    <td><%= invitation.user.phone %></td>
    <td><%= invitation.event_id %></td>
    <td><%= link_to 'Show', event_invitation_path(invitation.event_id, invitation.id) %></td>
    <td><%= link_to 'Edit', edit_event_invitation_path(invitation.event_id, invitation.id) %></td>
    <td><%= link_to 'Destroy', { controller: "invitations", action: "destroy", id: invitation.id, event_id: invitation.event_id }, data: {confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_event_invitation_path(@event.id) %>
