
<p>
  <b>Invitee name:</b>
  <%= @invitation.user.username %>
</p>

<p>
  <b>Invitee email:</b>
  <%= @invitation.user.email %>
</p>

<p>
  <b>Invitee phone:</b>
  <%= @invitation.user.phone %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @event.name, event_path(@event) %>
</p>


<%= link_to 'Edit', edit_event_invitation_path(@event.id, @invitation.id) %> 

