
<p>
  <b>Invitee name:</b>
  <%= @invitation.user.username %>
</p>

<p>
  <b>Invitee email:</b>
  <%= @invitation.user.email %>
</p>

<p>
  <b>Invitee phone:</b>
  <%= @invitation.user.phone %>
</p>

<p>
  <b>Event:</b>
  <%= link_to @invitation.event.name, event_path(@invitation.event) %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> 

