<div id="signin">
<ul id="login_links">
  <li><%= link_to "Twitter", "/auth/twitter"%></li>
  <li><%= link_to "Facebook", "/auth/facebook"%></li>
  <li><%= link_to "Google", "/auth/google"%></li>
  <li>
  <strong>Don't use these services?</strong>  
  <%= link_to "Create an account", new_identity_path %> or <%= link_to "Sign In", login_path %>
</ul>  
